
.Rbuildignore
.Rproj.user/5761C07B/build_options
.Rproj.user/5761C07B/console06/INDEX001
.Rproj.user/5761C07B/cpp-definition-cache
.Rproj.user/5761C07B/ctx/ctx-10936/console_actions
.Rproj.user/5761C07B/ctx/ctx-10936/environment
.Rproj.user/5761C07B/ctx/ctx-10936/environment_vars
.Rproj.user/5761C07B/ctx/ctx-10936/history
.Rproj.user/5761C07B/ctx/ctx-10936/libpaths
.Rproj.user/5761C07B/ctx/ctx-10936/options
.Rproj.user/5761C07B/ctx/ctx-10936/plots_dir/INDEX
.Rproj.user/5761C07B/ctx/ctx-10936/rversion
.Rproj.user/5761C07B/ctx/ctx-10936/search_path/package_paths
.Rproj.user/5761C07B/ctx/ctx-10936/search_path/search_path_elements
.Rproj.user/5761C07B/ctx/ctx-10936/settings
.Rproj.user/5761C07B/pcs/debug-breakpoints.pper
.Rproj.user/5761C07B/pcs/files-pane.pper
.Rproj.user/5761C07B/pcs/source-pane.pper
.Rproj.user/5761C07B/pcs/windowlayoutstate.pper
.Rproj.user/5761C07B/pcs/workbench-pane.pper
.Rproj.user/5761C07B/persistent-state
.Rproj.user/5761C07B/rmd-outputs
.Rproj.user/5761C07B/saved_source_markers
.Rproj.user/5761C07B/sources/prop/3B44536E
.Rproj.user/5761C07B/sources/prop/507D2531
.Rproj.user/5761C07B/sources/prop/758365A8
.Rproj.user/5761C07B/sources/prop/796E4551
.Rproj.user/5761C07B/sources/prop/92DA58BD
.Rproj.user/5761C07B/sources/prop/F810972
.Rproj.user/5761C07B/sources/prop/INDEX
.Rproj.user/5761C07B/sources/s-1308B2BB/20077578-contents
.Rproj.user/5761C07B/sources/s-1308B2BB/3BB62916-contents
.Rproj.user/5761C07B/sources/s-1308B2BB/5CCE444
.Rproj.user/5761C07B/sources/s-1308B2BB/5CCE444-contents
.Rproj.user/5761C07B/sources/s-1308B2BB/71E64791-contents
.Rproj.user/5761C07B/sources/s-1308B2BB/79CAEA3F
.Rproj.user/5761C07B/sources/s-1308B2BB/79CAEA3F-contents
.Rproj.user/5761C07B/sources/s-1308B2BB/8AA8E3D3
.Rproj.user/5761C07B/sources/s-1308B2BB/8AA8E3D3-contents
.Rproj.user/5761C07B/sources/s-1308B2BB/lock_file
.Rproj.user/5761C07B/sources/s-1308B2BB/restart_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
